@font-face {
	font-family: pixel-font;
	src: url(terminal-grotesque-webfont.woff);

}
* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

.cursive {
    font-family: pixel-font;
}

/* adjusting fonts */

body {
	font-family: 'pixel-font', Arial, "Helvetica Neue", Helvetica, sans-serif;
	transition: background 500ms ease;
	
	color: black;
	Font-family: 'pixel-font';
	background-color: gainsboro;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

a:hover {
	color: red;  
  }

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/