@font-face {
	font-family: pixel-font;
	src: url(terminal-grotesque-webfont.woff);

}
* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

.cursive {
    font-family: pixel-font;
}

/* adjusting fonts */

body {
	font-family: 'pixel-font', Arial, "Helvetica Neue", Helvetica, sans-serif;
	
	
	color: rgb(255, 255, 255);
	Font-family: 'pixel-font';
	background-color: rgb(0, 0, 0);
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
	background-color: rgb(0, 0, 0);
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

#backp {

	
	left:0px;
	top:0px;
	position: fixed;
	background-color: rgb(0, 0, 0);
	
	border-color: white;
	border-width: 7px;
	border-style: dashed;
	width: 100%
	
	
}

#melon {
	padding-top: 250px;;
	
	
}


img {
	max-width: 100%;

	height:  150px;
	padding-left: 0px;
	border-color: white;
	border-width: 7px;
	border-style: dashed;
	
	position:relative;
	left: 20px;
	
	
}

a:hover {
	color: red;  
  }
 



figcaption {
	display: inline-block;
	color: rgb(255, 255, 255);
	vertical-align: top;
	padding-left: 40px;
}

h1 {
	font-family: pixel-font;
}
figure {
	display: flex;
flex-direction: row;
padding: 20px;

}





#property{
	font-size: 40px;
    height: 150px;
	width: 200px;
	align-items: center;
	padding: 30px;
	border-color: rgb(0, 213, 255);
	border-width: 7px;
	border-style: dashed;
}

#use{
	font-size: 40px;
    height: 150px;
	width: 150px;
	align-items: start;
	
	padding: 50px;
	border-color: white;
	border-width: 7px;
	border-style: dashed;
	padding-left: 35px;
	margin-left: auto;
	margin-right:0px;
}

#char{
	
	
	padding: 0px;
	border-color: rgb(255, 255, 255);
	border-width: 7px;
	border-style: solid;
	width: 130px;
	height: 195px;
	position: relative;
	display: inline-block;
	
}



.char .img-top {
	display: none;
	position: absolute;
    top: 20px;
    left: 40px;
    z-index: 99;
}
.char:hover .img-top {
	display: inline;
}

#face{
	border-style: solid;
}
#bb{
	position: relative;
	left:20px;
}





/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/